In [38]:
#variable declaration
x = 10
y = 3.5
name = 'Siddharth'
is_ml_dev = True  # not allowed with small t
letter = 'c'

In [39]:
#Type check
print(type(x),type(y),type(name),type(is_ml_dev), type(letter))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'str'>

In [19]:
#operations
print(x + y)
print(name + " Rane")
print(2 ** 3)
print(2 * 3)
print(2 / 3)
print(2 // 3)

13.5
Siddharth Rane
8
6
0.6666666666666666
0

In [21]:
#typecasting
print(str(x) + name)
# print(int(name))  not allowed
print(float(x))

10Siddharth
10.0

In [29]:
#difference between / and // operator
print(8/4)   #returns whole number or decimal. always float
print(8 // 4)  #returns integer. rounds to nearest whole number

2.0
2

In [ ]:
#Lists, Tuples, Sets, Dicts

In [ ]:
#ðŸ“˜ Concepts:

#Create, index, slice, modify

#.append(), .remove(), .get() for dicts

In [66]:
#declaring a list
my_list = [1,2,3,4,5]

#trying to append another value to the list at the end
my_list.append(6)  #append only takes 1 argument
print(my_list)

[1, 2, 3, 4, 5, 6]

In [67]:
#try to append a value of another data type
my_list.append('Sid')
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5, 6, 'Sid']
<class 'list'>

In [68]:
#removing an element from list
my_list.remove("Sid") #or my_list.remove('Sid'). if not in list it throws error
print(my_list)

[1, 2, 3, 4, 5, 6]

In [69]:
#inserting an item at specific location
my_list.remove(4) 
print(my_list)
#now adding 4 back at 3 position
my_list.insert(3,4)
print(my_list)

[1, 2, 3, 5, 6]
[1, 2, 3, 4, 5, 6]

In [70]:
#to add multiple items
my_list.extend([7,8,9,'Sid'])
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Sid']

In [71]:
#pop removes item from the list and returns it (by default last index is set)
item = my_list.pop()
print(item)
print(my_list)
item =my_list.pop(0)
print(item)
print(my_list)

Sid
[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
[2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
#To remove an item by index
del my_list[0]
print(my_list)

[3, 4, 5, 6, 7, 8, 9]

In [95]:
#to remove all items
my_list.clear()
print(my_list)

[]

In [96]:
my_list.extend([1,2,3,4,5])
print(my_list)
copy_list = list.copy(my_list) # or copy_list = my_list or my_list.copy()
print(copy_list)
copy_list.append(6)
print(copy_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [97]:
#finding elements

print(my_list.index(4)) #returns index of first occurence
#Question: How to find index of second occurence or subsequent???

my_list.append(4)
print(my_list.count(4)) #find count of an item

3
2

In [ ]:
#Question: How to remove all occurences of an item??

#Answer: can be achieved using loops like for,while
         #ideal way is to do using list comprehension

In [111]:
#sorting and reversing
lst = [3,4,7,8,2,9,9,1]
lst.sort()
print(lst)
lst.sort(reverse = True)
print(lst)
lst.sort()
print(lst)
lst.reverse()
print(lst)

#cant sort if list has other data type like str but works for float
lstt = [4,1,3.5]
lstt.sort()
print(lstt)

[1, 2, 3, 4, 7, 8, 9, 9]
[9, 9, 8, 7, 4, 3, 2, 1]
[1, 2, 3, 4, 7, 8, 9, 9]
[9, 9, 8, 7, 4, 3, 2, 1]
[1, 3.5, 4]

In [109]:
#Built-in functions that work with list
lst = [9,1,2,3,4,5,6]

#get the lenghth of the list
print(len(lst))

#find maximum
print(max(lst))
#find minimum
print(min(lst))
#sum of lst
print(sum(lst))

#question what does sum return if there is a str in list
#Answer: It throws error unsupported operand type
#lst = [1,3,'sid']
#print(sum(lst))

#to create a sorted list without affecting the original one
nlst = sorted(lst)
print(lst)
print(nlst)

7
9
1
30
[9, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 9]

In [113]:
#checking membership

#using in
lst=[1,2,3,4]
exists = 5 in lst
print(exists)
exists = 4 in lst
print(exists)

#using not in
exists = 5 not in lst
print(exists)
exists = 4 not in lst
print(exists)

False
True
True
False

In [119]:
lst = [4,5,9,10]
#slicing
print(lst[0:4])

[4, 5, 9, 10]

In [122]:
#list comprehension
#new_list/old_list = [expression for item in old_list]

numbers = [1,2,3,4,5]
squared_nums=[]
squared_nums2=[]

for num in numbers:
    squared_nums.append(num * num)
print(squared_nums)
print(numbers)

#this can be acheived in one line using list comprehension

squared_nums2 = [num * num for num in numbers]
print(squared_nums2)

[1, 4, 9, 16, 25]
[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [ ]:
#DICTIONARY

In [154]:
#declaring a dictionary
my_detail = {"name":"sid","role":"ML_Dev","age": 27}
print(my_detail)

{'name': 'sid', 'role': 'ML_Dev', 'age': 27}

In [155]:
#to get value for a key
print(my_detail.get("name"))
print(my_detail.get("height","not found")) #passing default value incase no value
print(my_detail["name"])

#to get all keys
print(my_detail.keys())
lst = list(my_detail.keys())
print(lst)
lst.sort()
print(lst)

#getting key-value pairs
print(my_detail.items())

sid
not found
sid
dict_keys(['name', 'role', 'age'])
['name', 'role', 'age']
['age', 'name', 'role']
dict_items([('name', 'sid'), ('role', 'ML_Dev'), ('age', 27)])

In [156]:
#adding/Updating items in dictionary
my_detail["height"] = 6
print(list(my_detail.items()))
my_detail["name"] = "Siddharth" #direct update
print(list(my_detail.items()))

#but for multiple items or adding multiple items
my_detail.update(name = "siddharth rane",height = 26, gender = "M")
print(list(my_detail.items()))

[('name', 'sid'), ('role', 'ML_Dev'), ('age', 27), ('height', 6)]
[('name', 'Siddharth'), ('role', 'ML_Dev'), ('age', 27), ('height', 6)]
[('name', 'siddharth rane'), ('role', 'ML_Dev'), ('age', 27), ('height', 26), ('gender', 'M')]

In [157]:
#removing elements from dictionary
item = my_detail.pop('gender')  #returns a value 
print(item)
print(list(my_detail.items()))
my_detail.update(gender="Male")
print(list(my_detail.items()))
item = my_detail.popitem()  #removes and returns last key value par
print(item)
print(list(my_detail.items()))

#my_detail.clear()  will remove all items

del my_detail['height'] # will rremove key

M
[('name', 'siddharth rane'), ('role', 'ML_Dev'), ('age', 27), ('height', 26)]
[('name', 'siddharth rane'), ('role', 'ML_Dev'), ('age', 27), ('height', 26), ('gender', 'Male')]
('gender', 'Male')
[('name', 'siddharth rane'), ('role', 'ML_Dev'), ('age', 27), ('height', 26)]

In [158]:
#copying
my_detail_copy = my_detail.copy()
print(list(my_detail_copy.items()))

[('name', 'siddharth rane'), ('role', 'ML_Dev'), ('age', 27), ('height', 26)]

In [159]:
#Creating Dictionary with same value for all keys
keys = list(my_detail.keys())
d= dict.fromkeys(keys, 0) #dict with value 1 for all keys

print(d)

{'name': 0, 'role': 0, 'age': 0, 'height': 0}

In [161]:
#checking keys
exists = 'name' in d
print(exists)
exists = 'weight' in d
print(exists)

#similiar for not in

True
False

In [163]:
#built-in functions that work with dictionary

#get length
print(len(d)) 
print(max(d)) #max of keys
print(max(d.values())) # max of values
print(min(d)) #min of keys
print(min(d.values())) #min of values

#get sorted keys
sorted_keys = sorted(d)
#get sorted values
sorted_values = sorted(d.values())
print(sorted_keys)
print(sorted_values)

4
role
0
age
0
['age', 'height', 'name', 'role']
[0, 0, 0, 0]

In [192]:
#Loops and Conditions

#for loop

for i in range(90,95):
    print(i,end=" ")
print()
for i in range(5):
    print(i,end=" ")
print()
for i in range(1,10,2):    #third parameter is step
    print(i,end=" ")

90 91 92 93 94
0 1 2 3 4
1 3 5 7 9

In [181]:
#question printing in same line possible??  print(i,end=" ")
#if,elif,else

age= -2
if age >= 18:
    print("you can vote")
elif age < 18 and age > 0:
    print("you cannot vote")
else:
    print("Enter valid age")

Enter valid age

In [191]:
#logical operators
age = 20
has_license = True

if age > 18 and has_license:
    print("You can drive")

if age > 18 or not has_license:   #use not instead of!has_license
    print("you can drive")

You can drive
you can drive

In [225]:
#looping through a list
fruits =["apple","banana","orange"]

for fruit in fruits:
    print(fruit,end = " ")

#if we want to loop with index
for i,fruit in enumerate(fruits):
    print(f"{i} : {fruit}")  

#Question : what is significance of f in print statement??
#Answer: It is formated string literal to insert variable and expressions directly into strings

print(f"{"Fun day"if "apple" in fruits else "boring day"}")

apple banana orange 0 : apple
1 : banana
2 : orange
Fun day

In [212]:
#looping through dictionary
dict1 = {"name":"sid","role":"ML_dev"}

for x in dict1:
    print(x,end=" ")
print()
for v in dict1.values():
    print(v,end=" ")
print()

#looping through key value pairs
for key,value in dict1.items():
    print(f"{key}--->{value}")

name role
sid ML_dev
name--->sid
role--->ML_dev

In [214]:
#while loops
count = 0

while count < 5:
    count +=1

    print(count,end=" ")

1 2 3 4 5

In [220]:
password = ""
while password!= "pass":
    password = input("Enter password")
print("Access Granted")

Enter password pass

Access Granted

In [224]:
#loop control
for i in range(5):
    if i == 3:
        break     #breaks the loop
    print(i,end=" ")
print()
for i in range(5):
    if i == 3:
        continue       #skips
    print(i,end=" ")

0 1 2
0 1 2 4

In [230]:
#enumerate  gives both index and value
names=["sid","jake","amy"]
for i,name in enumerate(names,1):  #second parameter is start
    print(f"{i}:{name}",end=" ")

1:sid 2:jake 3:amy

In [231]:
#zip combines multiple lists element by element, like a zipper
names=["sid","jake","amy"]
age=[22,23,21]

for name,age in zip(names,age):
    print(f"{name}:{age}")

sid:22
jake:23
amy:21

In [ ]:
#Question: What happens if length does not match???
#Answer: IT stops at shortest length

In [237]:
#creating dictionary from two lists
names=["sid","jake","amy"]
age=[22,23,21]
details= list(zip(names,age))
print(details)

[('sid', 22), ('jake', 23), ('amy', 21)]

In [241]:
#Functions and OOPS basics in python

#functions are reusable blocks of code that perform specific tasks

def greet():
    print("Hello!")

greet()
greet()

#functions with parameters
def greet(name):
    print(f"Hello {name}!")
greet("Sid")

#multiple parameters
def add(a,b):
    return a+b
sum = add(3,4)
print(sum)

Hello!
Hello!
Hello Sid!
7

In [243]:
#Classes and Objects

class Dog:
    def __init__(self,name):   #called when object is created
        self.name= name
    def bark(self):
        print(f"{self.name} is now barking!")

dog1 = Dog("Tom")
dog2 = Dog("Tiger")

dog1.bark()
dog2.bark()

Tom is now barking!
Tiger is now barking!

In [ ]:
def emptyfunction():
    pass  #means do nothing